body {
  margin: 0px;
  overflow: hidden;
}

rect {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}